[submodule "include/FreeRTOS-Kernel"]
	path = include/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "include/pico-sdk"]
	path = include/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "include/eigen"]
	path = include/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "tools/include/imgui"]
	path = tools/include/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "tools/include/implot"]
	path = tools/include/implot
	url = https://github.com/epezent/implot.git
[submodule "tools/include/glfw"]
	path = tools/include/glfw
	url = https://github.com/glfw/glfw.git
[submodule "include/libfixmath"]
	path = include/libfixmath
	url = https://github.com/PetteriAimonen/libfixmath.git
[submodule "include/libfixmatrix"]
	path = include/libfixmatrix
	url = https://github.com/PetteriAimonen/libfixmatrix.git
[submodule "include/nanopb"]
	path = include/nanopb
	url = https://github.com/nanopb/nanopb.git
